@import "tailwindcss";
@import "../tailwind/components_styles.css";





@layer utilities {
    .container-fluid {
        @apply px-2 md:px-4;
    }
    .containerD {
        @apply mx-auto w-full min-w-[326px] [@media(min-width:1400px)]:min-w-[1336px] [@media(min-width:1400px)]:max-w-[1336px];
    }
}

:root {
  --bg: #ffffff;
  --fg: #0f172a;
  --muted: #475569;
}

.dark {
  --bg: #020617;
  --fg: #e5e7eb;
  --muted: #94a3b8;
}



@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazirmatn/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazirmatn/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazirmatn/Vazirmatn-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/vazirmatn/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  font-family: "Vazirmatn", sans-serif;
}


:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}

.dark {
  --background: 222.2 47.4% 11.2%;
  --foreground: 210 40% 98%;
}



.blog-content {
  color: var(--fg);
  line-height: 1.9;
}

/* متن‌ها */
.blog-content p,
.blog-content li,
.blog-content span {
  color: var(--fg);
}

/* تیترها */
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4 {
  color: var(--fg);
  font-weight: 700;
}

/* متن کم‌رنگ */
.blog-content small {
  color: var(--muted);
}

/* لینک‌ها */
.blog-content a {
  color: #2563eb;
  text-decoration: underline;
}

.dark .blog-content a {
  color: #60a5fa;
}

/* بلاک کوت */
.blog-content blockquote {
  border-right: 4px solid var(--muted);
  padding-right: 1rem;
  color: var(--muted);
}
